<form class="form-login pt-5" method="POST">
    <h3 class="mb-3 font-weight-normal">Please login</h3>
    <div [ngClass]="display ? 'show' : 'hide'">
        <p class="alert alert-danger">Sorry, wrong ueser email or password, please try again!</p>
    </div>
    <label for="userEmail" class="sr-only">Email Address</label>
    <input type="email" id="userEmail" [(ngModel)]="userEmail" name="userEmail" class="form-control" placeholder="Email Address" required autofocus>
    <label for="userPassword" class="sr-only">Password</label>
    <input type="password" id="userPassword" [(ngModel)]="userPassword" name="userPassword" class="form-control" placeholder="Password" required>
    <button (click)="buttonClicked()" class="btn btn-lg btn-dark btn-block mt-3" type="submit">Login</button>
</form>