.card {
  border: none;
}

.border-left-1 {
  border-left: 4px solid #17a2b8!important;
}

.border-left-2 {
  border-left: 4px solid #ffc107!important;
  
}
.text-warning {
  color: #ecb104!important;
}
.removeButton {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
}
.editUserModalContainer {
  max-width: 600px;
}